<div class="col-xs-12 col-sm-8 col-md-9 content-column">
  <div class="small-navbar visible-xs">
    <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
    <h1 class="small-navbar-heading"> <a href="index.html">Creative </a></h1>
  </div>
  <div class="grid">
    <div class="row">
      <% @students.each do |student| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
          <div class="box-masonry"><a href="/students/<%= student.id %>" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="<%= student.screenshot %>" alt="" class="img-responsive"></a>
            <div class="box-masonry-hover-text-header"> 
              <h4><a href="/students/<%= student.id %>"><%= student.name %></a></h4>
            </div>
            <div class="box-masonry-text">
              <h4> <a href="/students/<%= student.id %>"></a><%= student.first_name %></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>