<div class="row">
              <div class="col-lg-8">
                <div class="content-column-content">
                  <h1><%= @student.first_name %> <%= @student.last_name %> - <%= @student.name %></h1>
                    <div class="item"><img alt="" src="<%= @student.screenshot %>" class="img-responsive" style="height:50%; width: 50%;"></div>
                  <!-- /#main-slider--></br>
                  <p class="lead"><%= @student.description %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>